@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.142 0.004 285.81922856941924);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.142 0.004 285.81922856941924);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.142 0.004 285.81922856941924);
  --primary: oklch(0.411 0.270 265.8842230004388);
  --primary-foreground: oklch(0.959 0.003 286.335671578541);
  --secondary: oklch(0.870 0.024 285.8808363565539);
  --secondary-foreground: oklch(0.194 0.026 283.7594655319282);
  --muted: oklch(0.870 0.024 285.8808363565539);
  --muted-foreground: oklch(0.467 0.110 281.28294126864586);
  --accent: oklch(0.732 0.097 283.74575669307904);
  --accent-foreground: oklch(0.172 0.056 278.74540039286853);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.814 0.036 285.5814191335729);
  --input: oklch(0.814 0.036 285.5814191335729);
  --ring: oklch(0.411 0.270 265.8842230004388);
  --chart-1: oklch(0.411 0.270 265.8842230004388);
  --chart-2: oklch(0.537 0.206 276.91683370902365);
  --chart-3: oklch(0.675 0.119 282.7368163090572);
  --chart-4: oklch(0.312 0.206 265.762247011297);
  --chart-5: oklch(0.240 0.147 267.86959560339307);
  --sidebar: oklch(0.870 0.024 285.8808363565539);
  --sidebar-foreground: oklch(0.194 0.026 283.7594655319282);
  --sidebar-primary: oklch(0.411 0.270 265.8842230004388);
  --sidebar-primary-foreground: oklch(0.959 0.003 286.335671578541);
  --sidebar-accent: oklch(0.732 0.097 283.74575669307904);
  --sidebar-accent-foreground: oklch(0.172 0.056 278.74540039286853);
  --sidebar-border: oklch(0.814 0.036 285.5814191335729);
  --sidebar-ring: oklch(0.411 0.270 265.8842230004388);
}

.dark {
  --background: oklch(0.090 0.041 274.255503898844);
  --foreground: oklch(0.959 0.003 286.335671578541);
  --card: oklch(0.208 0.036 282.8005817741235);
  --card-foreground: oklch(0.959 0.003 286.335671578541);
  --popover: oklch(0.208 0.036 282.8005817741235);
  --popover-foreground: oklch(0.959 0.003 286.335671578541);
  --primary: oklch(0.440 0.263 268.587563007015);
  --primary-foreground: oklch(0.959 0.003 286.335671578541);
  --secondary: oklch(0.239 0.036 283.3062187483042);
  --secondary-foreground: oklch(0.954 0.008 286.2375548953366);
  --muted: oklch(0.239 0.036 283.3062187483042);
  --muted-foreground: oklch(0.690 0.039 285.3318100534143);
  --accent: oklch(0.290 0.124 275.40165723684777);
  --accent-foreground: oklch(0.945 0.019 286.0346845953202);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.207 0.052 280.9135811798937);
  --input: oklch(0.207 0.052 280.9135811798937);
  --ring: oklch(0.440 0.263 268.587563007015);
  --chart-1: oklch(0.440 0.263 268.587563007015);
  --chart-2: oklch(0.578 0.204 277.9238207721568);
  --chart-3: oklch(0.691 0.151 281.7244889818337);
  --chart-4: oklch(0.348 0.185 271.4507339084389);
  --chart-5: oklch(0.290 0.124 275.40165723684777);
  --sidebar: oklch(0.090 0.041 274.255503898844);
  --sidebar-foreground: oklch(0.959 0.003 286.335671578541);
  --sidebar-primary: oklch(0.440 0.263 268.587563007015);
  --sidebar-primary-foreground: oklch(0.959 0.003 286.335671578541);
  --sidebar-accent: oklch(0.290 0.124 275.40165723684777);
  --sidebar-accent-foreground: oklch(0.945 0.019 286.0346845953202);
  --sidebar-border: oklch(0.207 0.052 280.9135811798937);
  --sidebar-ring: oklch(0.440 0.263 268.587563007015);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
