@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.145 0.003 250.97606341771018);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.145 0.003 250.97606341771018);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.145 0.003 250.97606341771018);
  --primary: oklch(0.543 0.179 256.3150319365309);
  --primary-foreground: oklch(0.961 0.002 251.4690624152714);
  --secondary: oklch(0.879 0.017 251.60269473773235);
  --secondary-foreground: oklch(0.211 0.016 251.99417123933029);
  --muted: oklch(0.879 0.017 251.60269473773235);
  --muted-foreground: oklch(0.537 0.069 252.37068402199122);
  --accent: oklch(0.787 0.064 252.0251861484273);
  --accent-foreground: oklch(0.208 0.035 252.76891172929908);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.838 0.023 251.66134384081408);
  --input: oklch(0.838 0.023 251.66134384081408);
  --ring: oklch(0.543 0.179 256.3150319365309);
  --chart-1: oklch(0.543 0.179 256.3150319365309);
  --chart-2: oklch(0.658 0.133 253.18883052025075);
  --chart-3: oklch(0.744 0.078 252.18732990860042);
  --chart-4: oklch(0.410 0.135 256.3331796941823);
  --chart-5: oklch(0.312 0.093 255.21911378760365);
  --sidebar: oklch(0.879 0.017 251.60269473773235);
  --sidebar-foreground: oklch(0.211 0.016 251.99417123933029);
  --sidebar-primary: oklch(0.543 0.179 256.3150319365309);
  --sidebar-primary-foreground: oklch(0.961 0.002 251.4690624152714);
  --sidebar-accent: oklch(0.787 0.064 252.0251861484273);
  --sidebar-accent-foreground: oklch(0.208 0.035 252.76891172929908);
  --sidebar-border: oklch(0.838 0.023 251.66134384081408);
  --sidebar-ring: oklch(0.543 0.179 256.3150319365309);
}

.dark {
  --background: oklch(0.210 0.019 252.1008211352249);
  --foreground: oklch(0.961 0.002 251.4690624152714);
  --card: oklch(0.252 0.026 252.1761637127667);
  --card-foreground: oklch(0.961 0.002 251.4690624152714);
  --popover: oklch(0.252 0.026 252.1761637127667);
  --popover-foreground: oklch(0.961 0.002 251.4690624152714);
  --primary: oklch(0.582 0.175 255.36576619297972);
  --primary-foreground: oklch(0.961 0.002 251.4690624152714);
  --secondary: oklch(0.263 0.023 252.06518959115283);
  --secondary-foreground: oklch(0.960 0.006 251.49756912345924);
  --muted: oklch(0.263 0.023 252.06518959115283);
  --muted-foreground: oklch(0.716 0.025 251.71477744583018);
  --accent: oklch(0.357 0.076 253.34366237974555);
  --accent-foreground: oklch(0.958 0.012 251.5526279299997);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.360 0.042 252.28742912940533);
  --input: oklch(0.360 0.042 252.28742912940533);
  --ring: oklch(0.582 0.175 255.36576619297972);
  --chart-1: oklch(0.582 0.175 255.36576619297972);
  --chart-2: oklch(0.698 0.132 253.00252180083544);
  --chart-3: oklch(0.780 0.099 252.35734699468182);
  --chart-4: oklch(0.449 0.116 254.22192862982882);
  --chart-5: oklch(0.357 0.076 253.34366237974555);
  --sidebar: oklch(0.331 0.038 252.26528688415738);
  --sidebar-foreground: oklch(0.961 0.002 251.4690624152714);
  --sidebar-primary: oklch(0.582 0.175 255.36576619297972);
  --sidebar-primary-foreground: oklch(0.961 0.002 251.4690624152714);
  --sidebar-accent: oklch(0.357 0.076 253.34366237974555);
  --sidebar-accent-foreground: oklch(0.958 0.012 251.5526279299997);
  --sidebar-border: oklch(0.360 0.042 252.28742912940533);
  --sidebar-ring: oklch(0.582 0.175 255.36576619297972);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
