# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace
.history/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
out/
.idea_modules/

# SQLite
*.db
*.sqlite3
*.sqlite3-journal

# Logs
logs/
*.log

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyTest
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Node (in case Frontend has node dependencies)
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JWT related
*.pem
