<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}OmniCore{% endblock %}</title>
    <!-- Add your CSS files here -->
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <!-- Header content -->
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <!-- Footer content -->
    </footer>

    <!-- Add your JS files here -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
